.arrow {
	position: absolute;
	text-align: center;
	top: 76%;
	width: 100%;
	z-index: 0;
}
.arrow img:hover {
	scale: 1.1;
	cursor: pointer;
}

@media only screen and (max-width: 900px) {
	.arrow img {
		scale: 0.5;
	}
	.arrow img:hover {
		scale: 0.5;
	}
}
