#calc-container {
	padding-top: 10px;
	background-color: black;
	border-radius: 10px;
	border: 2px solid white;
	margin-top: 40px;
	min-height: 200px;
	position: relative;
}

#calc-container p {
	font-size: large;
	color: white;
}

#calc-container > p {
	font-size: 1.5rem;
}

#calc h3 {
	padding-bottom: 2%;
	text-align: center;
}

#calc p {
	margin: 16px 0;
}

#calc a {
	color: white;
	font-size: 110%;
	margin: 0 1%;
}

form {
	display: flex;
	justify-content: center;
}

form input {
	width: 30%;
	border: 1px solid white;
	border-radius: 4px;
}

form input::placeholder {
	padding: 0 8px;
}

button {
	background: white;
	border: 1px solid white;
	border-radius: 4px;
	color: black;
	padding: 4px;
	margin: 0 2px;
	font-weight: 600;
}

#output-text {
	font-size: 1.4rem !important;
}
