.navigation {
	position: relative;
	display: flex;
	align-items: center;
	height: 60px;
	width: 100%;
	padding: 0.5rem 1rem;
	background-color: black;
	color: white;
	box-shadow: 0px 1px 6px 2px rgba(0, 0, 0, 0.158);

	/* font-size: 1.3rem; */

	text-transform: uppercase;
	font-weight: 400;
}

.brand-name {
	text-decoration: none;
	color: white;
	font-size: 1.3rem;
	margin-left: 1rem;
}

.navigation-menu {
	margin-left: auto;
}

.navigation-menu ul {
	display: flex;
	padding: 0;
}

.navigation-menu li {
	list-style-type: none;
	margin: 0 1rem;
}

.navigation-menu li a {
	color: white;
	text-decoration: none;
	display: block;
	width: 100%;
}
.navigation-menu li a:hover {
	/* color: white;*/
}

.hamburger {
	border: 0;
	height: 40px;
	width: 40px;
	padding: 0.5rem;
	border-radius: 50%;
	background-color: black;
	/* background-image: linear-gradient(
		to right,
		#63d9a0 0%,

		#8f3ad4 50%,
		#63d9a0 100%
	);
	background-size: 300% auto; */
	cursor: pointer;
	position: absolute;
	top: 50%;
	right: 25px;
	transform: translateY(-50%);
	display: none;
	transition: 0.5s;
}

.hamburger:hover {
	background-position: right center;
}
/* .loginpage button {
	background-image: linear-gradient(
		to right,
		#63d9a0 0%,
		#9e0de7 50%,
		#63d9a0 100%
	);

	background-size: 200% auto;
	border-radius: 5px;
	border: none;
	box-shadow: 0px 3px 4px rgb(165, 165, 165);

	display: block;
	line-height: 5px;
	margin: 5% 0;
	text-align: center;
	transition: 0.5s;
	width: 100%;
	-webkit-transition: 0.5s;
}
.loginpage button:hover {
	background-position: right center;
}
.loginpage button:active {
	transition: 0.1s;
	box-shadow: 0px 1px 2px rgb(160, 160, 160);
	transform: translateY(2px);
} */

@media screen and (max-width: 550px) {
	.hamburger {
		display: block;
	}

	.navigation-menu ul {
		flex-direction: column;
		position: absolute;
		top: 60px;
		left: 0;
		width: 100%;
		height: calc(100vh - 60px);
		background-color: white;
		/* border-top: 1px solid white; */
		display: none;
	}

	.navigation-menu li {
		text-align: center;
		margin: 0;
	}

	.navigation-menu li a {
		color: white;
		width: 100%;
		padding: 1.5rem 0;
	}

	.navigation-menu li a:hover {
		/* color: white; */
	}

	.navigation-menu.expanded ul {
		max-height: fit-content;
		background-color: black;
		display: block;
	}
}
