.splash {
	background: white;
	display: flex;
	font-size: 2rem;
	height: 100vh;
	justify-content: center;
	padding-top: 9em;
	text-align: center;
}

.fade {
	display: flex;
	flex-direction: column;
	height: 100%;
	position: relative;
}

.fade h2 {
	animation: fadeIn 2s;
	-webkit-animation: fadeIn 2s;
	-webkit-animation: fadein 2s;
	-moz-animation: fadein 2s;
	-ms-animation: fadein 2s;
	-o-animation: fadein 2s;
}

.fade p {
	animation: fadeIn2 5s;
	-webkit-animation: fadeIn2 5s;
	-webkit-animation: fadein2 5s;
	-moz-animation: fadein2 5s;
	-ms-animation: fadein2 5s;
	-o-animation: fadein2 5s;
}

.fade img {
	border-radius: 50%;
	animation: scale 2s infinite, fadein3 5s;
	-webkit-animation: scale 2s infinite, fadein3 5s;
	-moz-animation: scale 2s infinite, fadein3 5s;
	-ms-animation: scale 2s infinite, fadein3 5s;
	-o-animation: scale 2s infinite, fadein3 5s;
}

@keyframes fadein {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

@keyframes fadein2 {
	0% {
		opacity: 0;
	}
	20% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@keyframes fadein3 {
	0% {
		opacity: 0;
	}
	50% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
